<link rel="stylesheet" href="/footer.css">

<footer>
    <div class="footer-column">
      <img style="height: 30vh" src="/logo.png" alt="Logo">
      <p>Address: 123 Main Street, Machnester, MA, 01944</p>
        <p>Email: contact@melofest.com </p>
    </div>
    
    <div class="footer-column">
      <h4>Links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="">Legal</a></li>
      </ul>
      <p>Copyright 2023 © by Yassine DERGAOUI</p>
    </div>
    
    <div class="footer-column">
      <h4>Social Media</h4>
      <ul>
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
      </ul>
      
      <div class="select-language">
        <select>
            <option value="en">EN</option>
            <option value="fr">FR</option>
            <option value="du">DU</option>
            <option value="es">ES</option>
            <option value="ch">CH</option>
            <option value="ru">RU</option>
          </select>
      </div>
    </div>
    
  </footer>
  