body {
    font-family: 'Khand', sans-serif;
    background-image: url('/bg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: margin .2s ease-in;
}

/* newsletter */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

article {
    flex-basis: calc(33.33% - 10px);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

article p{
    color: whitesmoke;
}

article h2{
    color: #FC00FF;
    cursor: pointer;
}



article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform .2s ease-in;
    
}

article img:hover {
    transform: scale(1.05);
}



article p:last-child {
    margin-bottom: 0;
}

/* Logo */
.logo-text {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #FC00FF;
}

h3, h1 {
    margin-bottom: 6px;
    margin-top: 4px;
}

div img {
    max-width: 100%;
    height: 50vh;
    margin-top: 10px;
}

section {
    background-color: black;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* Marquee (Melofest Livestram). usage of deprecated <marquee> element avoided. */
.marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    margin: 4px;
    padding: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* Enable animation */
.enable-animation .marquee__content {
    animation: scroll 20s linear infinite;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
    animation-name: scroll-abs;
}

@keyframes scroll-abs {
    from {
        transform: translateX(calc(100% + var(--gap)));
    }
    to {
        transform: translateX(0);
    }
}


/* Subscribe to our newsletter */
input{
    font-size: 100%;
    padding: 12px;
    margin: 8px;
    background-color: rgb(226 232 240);
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    padding: 12px;
    background-color: black;
    margin: 8px;
    border-color: #FC00FF;
    font-weight: bold;
}
