@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500;600;700&display=swap');

html{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo{
  height: 100px;
  margin: 8px;
}

/* Start Navigation Bar */

.navbar {
  max-width: 100%;
  overflow: hidden;
  opacity: .8;
  border-radius: 12px;
  z-index: 1;
  background-color: whitesmoke;
  box-shadow: 0 0 16px black;
  transition: border-radius .2s ease-in;
  transition: opacity .2s ease-in;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  border-radius: 0;
  width: 100%;
  margin: 0;
  opacity: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


.navbar .menu {
  position: relative;
  display: flex;
  margin: 4px;
}

.navbar .menu li {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar .menu li h3 {
  display: flex;
  
  font-weight: 600;
  color: #FC00FF;
}

.navbar .menu a {
  transition: color .5s ease;
}


.navbar .menu a {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  flex: 1;
  justify-content: center;
}


.navbar .menu a:hover, .active, .active * {
  color: #FC00FF !important;
}


.navbar .menu li:hover .container-nav {
  display: flex;
}



/* black box */
.container {
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  color: whitesmoke;
  padding: 2px;
  background-color: black;
  opacity: 0.93;
  box-sizing: border-box;
  border-radius: 6px;
}

.container-nav {
  position: absolute;
  z-index: 1;
  top: 56px;
  right: 0;
  left: 0;
  display: none;
  margin-bottom: 30px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .06);
}


hr{
  width: 100%;
}

h1{
  font-size: 50px;
  text-align: center;
  margin: 0 32px;
  letter-spacing: 1pt;
}

.title{
  margin: 16px;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
